html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-size: 16px;
    background-image: url("/static/ribbon-2090126_1920.jpg");
    background-position: bottom;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    background: #716F71;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 3em;
}


.row .col-md-2 {
    height: 10rem;
    width: 3.7rem;
    margin: 0.2rem 0.2rem;
    background: #141214;;
    font-size: 0;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}


@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }

}


i {
    color: #32ff42;
    font-size: 80px;
}


.flip-card {
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;
}


.card-face {
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    color: white;
    transform: rotateY(180deg);
    position: absolute;
}


.flip-card.is-flipped {
    transform: rotateY(180deg);

}

.select_form{
    text-align: center;
    font-size: 20px;
    color: #4d2618;
    font-family: monospace;
}

.title{
    padding: 50px;
    text-decoration: underline;
    font-style: italic;
}

#win{
    text-align: center;
}