{% extends 'layout.html' %}


{% block head %}

{% endblock %}

{% block content %}

<div class=" container">
    <header>
        <h1 class="title">Memory Game</h1>
    </header>
    <div id="card-deck" class="row" data-card-num = {{ card_num }} %} onclick="this.classList.toggle('hover')">

    </div>
</div>
<div id="win">
    <h1 id="congrat" ></h1>
    <a id="replay" href="{{ url_for("index") }}" class="btn btn-success" style="display: none; text-align: center">replay</a>
</div>



{% endblock %}


