{% extends 'layout.html' %}


{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <header>
            <h1>Memory Game</h1>
        </header>
        <div id="card-deck" class="row" onclick="this.classList.toggle('hover');">
            {% for col in range(col_num) %}
                <div id="back-card" class="col-md-2 col-sm-6 flip-card">
                    <i class="fas fa-motorcycle  card-face"></i>
                    <i class="fab fa-js card-back"></i>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}

